@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      
    }
  
    .Login form {
      margin: 0 auto;
      background-color: aqua;
      padding:10px;
      padding-top:20px;
      padding-bottom: 20px;
      border-radius: 10px;
      max-width: 320px;
    }
  }

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
    color: #fff;
    background-color: #00acee;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    margin-top:20px;
    margin-left: auto;
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}